# Profile (dev/prod)
PROFILE=dev
# Mock mode (dev에서만 사용, true: 목업 데이터, false: 실제 OpenAI 호출)
USE_MOCK=true

# weaviate접속
WEAVIATE_HOST=127.0.0.1
WEAVIATE_PORT=8080
WEAVIATE_GRPC_PORT=50051

# db
DB_USER=developer
DB_PASSWORD=1234****
DB_HOST=amazonaws.com
DB_PORT=3306
DB_NAME=service_db



# LLM 공급자 : openai, gemini
LLM_PROVIDER=openai

# OpenAI
OPENAI_API_KEY=sk-p*****
OPENAI_MODEL=gpt-4o-mini

# Gemini
GOOGLE_API_KEY=sk-p*****
GOOGLE_MODEL=gemini-3-flash-preview


EMBEDDING_MODEL=openai/text-embedding-3-small


# 랭퓨즈 설정
LANGFUSE_SECRET_KEY = "sk-lf-****"
LANGFUSE_PUBLIC_KEY = "pk-lf-bbc0*****"
LANGFUSE_BASE_URL = "http://127.0.0.1:3000"


# s3설정
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET_NAME=your_bucket_name

# Forward proxy가 필요한 클라우드 환경에서만 적용
# HTTP_PROXY=http://10.x.x.x:3128                                                                                                                                                         
# HTTPS_PROXY=http://10.x.x.x:3128                                                                                                                                                        
# NO_PROXY=localhost,127.0.0.1,10.x.x.x/16 